# Purpose
to parse the text files from the new RFID system around the hut in wedge 4

# Imports

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import os, glob, csv, sys

# User defined locations

In [47]:
fld='/Users/dennise/Desktop/LOGGER/2022_06'
txtfile = os.path.join(fld,"2022_06_17.log")

In [41]:
os.listdir('/Users/dennise/Desktop/LOGGER/2022_06')

['2022_06_16.log',
 '2022_06_17.log',
 '2022_06_18.log',
 '2022_06_19.log',
 '2022_06_20.log',
 '2022_06_21.log',
 '2022_06_22.log',
 '2022_06_23.log',
 '2022_06_24.log',
 '2022_06_25.log']

# Functions

# Use case

# Procedure

In [48]:
dates=[]
first=[]
second=[]
third=[]
tagvals=[]
mvs=[]

# import file
f = open(txtfile, 'r') 
for x in f.readlines():
    if "TAG" in x:
        values=[xval.split(' ') for xval in x.split(':')]
        dates.append(values[1][2])
        first.append(values[1][3])
        second.append(values[2][0])
        third.append(values[3][0])
        tagvals.append(values[3][1])
        mvs.append(values[3][2])

# want this to be a dataframe
df=pd.DataFrame({'dates':dates,'first':first,'second':second,'third':third,'tagvals':tagvals,'mvs':mvs})
for val in np.unique(df.tagvals):
    print(int(val[4:],base=16)) #missing

43000130206
43000130223
43000130232
43000130236
43000130250
43000130280
43000130282
43000130291
43000130324
43000130337
43000130355
43000130399
7425

In [50]:
int('0A0301EAE8',base=16)

43000130280

In [17]:
pd.DataFrame([dates,first,second,third,tagvals,mvs],columns=[""])

,0,1,2,3,4,5,6,7,8,9,...,1894,1895,1896,1897,1898,1899,1900,1901,1902,1903
0,[TAG],"[, 01, 06/24/2022, 23]",[43],"[08.130, 3E7.0000001D01, 741, mV\n]",None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
1,06/24/2022,06/24/2022,06/24/2022,06/24/2022,06/24/2022,06/24/2022,06/24/2022,06/24/2022,06/24/2022,06/24/2022,...,06/24/2022,06/24/2022,06/24/2022,06/24/2022,06/24/2022,06/24/2022,06/24/2022,06/24/2022,06/24/2022,06/24/2022
2,00,00,00,00,00,00,00,00,00,00,...,22,22,22,22,22,22,23,23,23,23
3,01,01,01,01,01,01,01,01,01,01,...,41,41,41,41,42,43,13,23,33,43
4,00.330,00.460,00.520,00.570,00.600,00.640,00.670,00.700,00.730,00.760,...,47.440,47.470,47.500,47.530,01.680,08.190,08.200,08.170,08.170,08.130
5,384.0F9983D6D7,384.0F9983D6D7,384.0F9983D6D7,384.0F9983D6D7,384.0F9983D6D7,384.0F9983D6D7,384.0F9983D6D7,384.0F9983D6D7,384.0F9983D6D7,384.0F9983D6D7,...,384.0A0301EB33,384.0A0301EB33,384.0A0301EB33,384.0A0301EB33,384.0A0301EB33,3E7.0000001D01,3E7.0000001D01,3E7.0000001D01,3E7.0000001D01,3E7.0000001D01
6,702,656,665,710,721,719,708,691,694,698,...,722,706,695,659,751,729,742,735,728,741

06/24/2022
00
01
00.330
384.0F9983D6D7
702