# Purpose

# Imports

In [1]:
import numpy as np
import pandas as pd
import os, csv, glob
import matplotlib.pyplot as plt

# Functions

# Use case

# Procedure

In [4]:
fld = '/Users/dennise/Desktop/data'
os.listdir(fld)

['summary.csv',
 'uniplant_10_1_out.tsv',
 'uniplant_11_1_out.tsv',
 'uniplant_12_1_out.tsv',
 'uniplant_13_1_out.tsv',
 'uniplant_14_1_out.tsv',
 'uniplant_15_1_out.tsv',
 'uniplant_16_1_out.tsv',
 'uniplant_17_1_out.tsv',
 'uniplant_18_1_out.tsv',
 'uniplant_19_1_out.tsv',
 'uniplant_1_1_out.tsv',
 'uniplant_20_1_out.tsv',
 'uniplant_21_1_out.tsv',
 'uniplant_22_1_out.tsv',
 'uniplant_23_1_out.tsv',
 'uniplant_24_1_out.tsv',
 'uniplant_25_1_out.tsv',
 'uniplant_26_1_out.tsv',
 'uniplant_27_1_out.tsv',
 'uniplant_28_1_out.tsv',
 'uniplant_29_1_out.tsv',
 'uniplant_2_1_out.tsv',
 'uniplant_30_1_out.tsv',
 'uniplant_31_1_out.tsv',
 'uniplant_32_1_out.tsv',
 'uniplant_33_1_out.tsv',
 'uniplant_34_1_out.tsv',
 'uniplant_35_1_out.tsv',
 'uniplant_36_1_out.tsv',
 'uniplant_37_1_out.tsv',
 'uniplant_38_1_out.tsv',
 'uniplant_39_1_out.tsv',
 'uniplant_3_1_out.tsv',
 'uniplant_40_1_out.tsv',
 'uniplant_41_1_out.tsv',
 'uniplant_42_1_out.tsv',
 'uniplant_43_1_out.tsv',
 'uniplant_44_1_out.tsv',
 'uniplant_45_1_out.tsv',
 'uniplant_46_1_out.tsv',
 'uniplant_47_1_out.tsv',
 'uniplant_48_1_out.tsv',
 'uniplant_49_1_out.tsv',
 'uniplant_4_1_out.tsv',
 'uniplant_50_1_out.tsv',
 'uniplant_51_1_out.tsv',
 'uniplant_52_1_out.tsv',
 'uniplant_53_1_out.tsv',
 'uniplant_54_1_out.tsv',
 'uniplant_55_1_out.tsv',
 'uniplant_56_1_out.tsv',
 'uniplant_57_1_out.tsv',
 'uniplant_58_1_out.tsv',
 'uniplant_59_1_out.tsv',
 'uniplant_5_1_out.tsv',
 'uniplant_6_1_out.tsv',
 'uniplant_7_1_out.tsv',
 'uniplant_8_1_out.tsv',
 'uniplant_9_1_out.tsv']

In [11]:
file_path = os.path.join(fld,os.listdir(fld)[1])
print(file_path)
file = pd.read_table(file_path)
file

/Users/dennise/Desktop/data\uniplant_10_1_out.tsv

,BEST_MATCH_IDS,ID,BEST_IDENTITY,ID_STATUS,DEFINITION,TAXID,SCIENTIFIC_NAME,QUALITY,NUC_SEQ,BEST_MATCH_TAXIDS,COUNT
0,NaN,MN00399:123:000H537V2:1:11101:4877:1012,0.00000,False,1:N:0:AGCCTATN+GTTACGCA,None,NaN,"[37, 37, 37, 2, 37, 37, 32, 37, 37, 37, 37, 14...",cccntttgacttggggtcacggtcgaagnnacgtgcgcttcgtttg...,NaN,1
1,NaN,MN00399:123:000H537V2:1:11101:12055:1020,0.00000,False,1:N:0:AGCCTATN+GTTACGCA,None,NaN,"[37, 37, 37, 37, 37, 37, 32, 37, 37, 37, 37, 3...",tgtgaattgcaggatcccgcgaaccatcnngtctttgaacgcaagt...,NaN,1
2,NaN,MN00399:123:000H537V2:1:11101:21707:1025,0.00000,False,1:N:0:AGCCTATN+GTTACGCA,None,NaN,"[37, 37, 37, 37, 37, 37, 37, 37, 14, 14, 37, 3...",cccgtttgacttgaggtcgcggtcgaagcgacgtgcgcttcgtttg...,NaN,1
3,['OU343190'],MN00399:123:000H537V2:1:11101:13162:1048,0.97351,True,1:N:0:AGCCTATC+GTTACGCA,4565,Triticum aestivum,"[37, 37, 37, 14, 37, 37, 37, 37, 37, 37, 37, 3...",tgtgaattgcaggatcccgcgaaccatcgagtctttgaacgcaagt...,[4565],1
4,NaN,MN00399:123:000H537V2:1:11101:8866:1056,0.00000,False,1:N:0:AGCCTATC+GTTACGCA,None,NaN,"[32, 37, 37, 37, 37, 37, 37, 37, 37, 32, 32, 3...",cccgtttgatttggggtctcggtcgaagcgacgtgcgcttcgtttg...,NaN,1
...,...,...,...,...,...,...,...,...,...,...,...
47559,NaN,MN00399:123:000H537V2:1:23104:19966:20286,0.00000,False,1:N:0:AGCCTATC+GTTACGCA,None,NaN,"[37, 37, 37, 32, 37, 37, 37, 37, 37, 37, 37, 3...",cccgtttgatttggggtcgcggtcgaagcgacgtgcgcttcgtttg...,NaN,1
47560,NaN,MN00399:123:000H537V2:1:23104:17571:20294,0.00000,False,1:N:0:AGCCTATC+GTTACACA,None,NaN,"[37, 37, 37, 37, 37, 37, 37, 37, 37, 37, 37, 3...",tgtgaattgcaggatcccgtgaaccatcgagtttttgaacgcaagt...,NaN,1
47561,NaN,MN00399:123:000H537V2:1:23104:22376:20341,0.00000,False,1:N:0:AGCCTATC+GTTACGCA,None,NaN,"[32, 37, 37, 37, 37, 37, 37, 37, 37, 37, 37, 3...",cgaagcgacgtgcgcttcgtttgttgggtcgttcaaaggtcataat...,NaN,1
47562,NaN,MN00399:123:000H537V2:1:23104:4771:20347,0.00000,False,1:N:0:AGCCTATC+GTTACGCA,None,NaN,"[37, 37, 37, 32, 37, 37, 14, 32, 37, 37, 37, 3...",cccgcctgatttggggtcgcggtcgaagcgacgtgcgcttcgtttg...,NaN,1
47563,NaN,MN00399:123:000H537V2:1:23104:23761:20382,0.00000,False,1:N:0:AGCCTATC+GTTACGCA,None,NaN,"[2, 37, 37, 37, 37, 37, 32, 32, 32, 37, 28, 37...",nccgtttgatttggggtcgcgttgaaagcgtcgacgaatcgacacg...,NaN,1

In [6]:
unique_scinames = np.unique(file.SCIENTIFIC_NAME.dropna())

AttributeError: 'DataFrame' object has no attribute 'SCIENTIFIC_NAME'

In [15]:
for sci_name in unique_scinames:
    print(sci_name,len(file[file.SCIENTIFIC_NAME==sci_name]))

Glycine subgen. Soja 1
Hordeinae 1
Petrosaviidae 110
Potentilla 34
Potentilla simplex 18
Triticinae 25
Triticum 60
Triticum aestivum 7340

In [19]:
pd.DataFrame([[5, 6], [7, 8]], columns=list('AB'))

   A  B
0  5  6
1  7  8

In [30]:
col_nms=['file_nm','sci_nm','count']
df=pd.DataFrame(columns=col_nms)
for file_nm in os.listdir(fld):
    print(file_nm)
    file = pd.read_table(os.path.join(fld,file_nm))
    unique_scinames = np.unique(file.SCIENTIFIC_NAME.dropna())
    list_of_vals=[]
    for sci_nm in unique_scinames:
        list_of_vals.append([file_nm,sci_nm,len(file[file.SCIENTIFIC_NAME==sci_nm])])
    df2 = pd.DataFrame(list_of_vals, columns=col_nms)
    df=df.append(df2,ignore_index=True)
df

uniplant_10_1_out.tsv
uniplant_11_1_out.tsv
uniplant_12_1_out.tsv
uniplant_13_1_out.tsv
uniplant_14_1_out.tsv
uniplant_15_1_out.tsv
uniplant_16_1_out.tsv
uniplant_17_1_out.tsv
uniplant_18_1_out.tsv
uniplant_19_1_out.tsv
uniplant_1_1_out.tsv
uniplant_20_1_out.tsv
uniplant_21_1_out.tsv
uniplant_22_1_out.tsv
uniplant_23_1_out.tsv
uniplant_24_1_out.tsv
uniplant_25_1_out.tsv
uniplant_26_1_out.tsv
uniplant_27_1_out.tsv
uniplant_28_1_out.tsv
uniplant_29_1_out.tsv
uniplant_2_1_out.tsv
uniplant_30_1_out.tsv
uniplant_31_1_out.tsv
uniplant_32_1_out.tsv
uniplant_33_1_out.tsv
uniplant_34_1_out.tsv
uniplant_35_1_out.tsv
uniplant_36_1_out.tsv
uniplant_37_1_out.tsv
uniplant_38_1_out.tsv
uniplant_39_1_out.tsv
uniplant_3_1_out.tsv
uniplant_40_1_out.tsv
uniplant_41_1_out.tsv
uniplant_42_1_out.tsv
uniplant_43_1_out.tsv
uniplant_44_1_out.tsv
uniplant_45_1_out.tsv
uniplant_46_1_out.tsv
uniplant_47_1_out.tsv
uniplant_48_1_out.tsv
uniplant_49_1_out.tsv
uniplant_4_1_out.tsv
uniplant_50_1_out.tsv
uniplant_51_1_out.tsv
uniplant_52_1_out.tsv
uniplant_53_1_out.tsv
uniplant_54_1_out.tsv
uniplant_55_1_out.tsv
uniplant_56_1_out.tsv
uniplant_57_1_out.tsv
uniplant_58_1_out.tsv
uniplant_59_1_out.tsv
uniplant_5_1_out.tsv
uniplant_6_1_out.tsv
uniplant_7_1_out.tsv
uniplant_8_1_out.tsv
uniplant_9_1_out.tsv

                   file_nm                sci_nm count
0    uniplant_10_1_out.tsv  Glycine subgen. Soja     1
1    uniplant_10_1_out.tsv             Hordeinae     1
2    uniplant_10_1_out.tsv         Petrosaviidae   110
3    uniplant_10_1_out.tsv            Potentilla    34
4    uniplant_10_1_out.tsv    Potentilla simplex    18
..                     ...                   ...   ...
503   uniplant_8_1_out.tsv              Triticum   107
504   uniplant_8_1_out.tsv     Triticum aestivum  8750
505   uniplant_9_1_out.tsv         Petrosaviidae    27
506   uniplant_9_1_out.tsv              Triticum     8
507   uniplant_9_1_out.tsv     Triticum aestivum  1723

[508 rows x 3 columns]

In [31]:
df.to_csv('/Users/dennise/Desktop/data/summary.csv')

In [2]:
df = pd.read_csv('/Users/dennise/Desktop/data/summary.csv')

In [3]:
df

     Unnamed: 0                file_nm                sci_nm  count
0             0  uniplant_10_1_out.tsv  Glycine subgen. Soja      1
1             1  uniplant_10_1_out.tsv             Hordeinae      1
2             2  uniplant_10_1_out.tsv         Petrosaviidae    110
3             3  uniplant_10_1_out.tsv            Potentilla     34
4             4  uniplant_10_1_out.tsv    Potentilla simplex     18
..          ...                    ...                   ...    ...
503         503   uniplant_8_1_out.tsv              Triticum    107
504         504   uniplant_8_1_out.tsv     Triticum aestivum   8750
505         505   uniplant_9_1_out.tsv         Petrosaviidae     27
506         506   uniplant_9_1_out.tsv              Triticum      8
507         507   uniplant_9_1_out.tsv     Triticum aestivum   1723

[508 rows x 4 columns]

In [12]:
file.columns

Index(['BEST_MATCH_IDS', 'ID', 'BEST_IDENTITY', 'ID_STATUS', 'DEFINITION',
       'TAXID', 'SCIENTIFIC_NAME', 'QUALITY', 'NUC_SEQ', 'BEST_MATCH_TAXIDS',
       'COUNT'],
      dtype='object')

In [13]:
file

,BEST_MATCH_IDS,ID,BEST_IDENTITY,ID_STATUS,DEFINITION,TAXID,SCIENTIFIC_NAME,QUALITY,NUC_SEQ,BEST_MATCH_TAXIDS,COUNT
0,NaN,MN00399:123:000H537V2:1:11101:4877:1012,0.00000,False,1:N:0:AGCCTATN+GTTACGCA,None,NaN,"[37, 37, 37, 2, 37, 37, 32, 37, 37, 37, 37, 14...",cccntttgacttggggtcacggtcgaagnnacgtgcgcttcgtttg...,NaN,1
1,NaN,MN00399:123:000H537V2:1:11101:12055:1020,0.00000,False,1:N:0:AGCCTATN+GTTACGCA,None,NaN,"[37, 37, 37, 37, 37, 37, 32, 37, 37, 37, 37, 3...",tgtgaattgcaggatcccgcgaaccatcnngtctttgaacgcaagt...,NaN,1
2,NaN,MN00399:123:000H537V2:1:11101:21707:1025,0.00000,False,1:N:0:AGCCTATN+GTTACGCA,None,NaN,"[37, 37, 37, 37, 37, 37, 37, 37, 14, 14, 37, 3...",cccgtttgacttgaggtcgcggtcgaagcgacgtgcgcttcgtttg...,NaN,1
3,['OU343190'],MN00399:123:000H537V2:1:11101:13162:1048,0.97351,True,1:N:0:AGCCTATC+GTTACGCA,4565,Triticum aestivum,"[37, 37, 37, 14, 37, 37, 37, 37, 37, 37, 37, 3...",tgtgaattgcaggatcccgcgaaccatcgagtctttgaacgcaagt...,[4565],1
4,NaN,MN00399:123:000H537V2:1:11101:8866:1056,0.00000,False,1:N:0:AGCCTATC+GTTACGCA,None,NaN,"[32, 37, 37, 37, 37, 37, 37, 37, 37, 32, 32, 3...",cccgtttgatttggggtctcggtcgaagcgacgtgcgcttcgtttg...,NaN,1
...,...,...,...,...,...,...,...,...,...,...,...
47559,NaN,MN00399:123:000H537V2:1:23104:19966:20286,0.00000,False,1:N:0:AGCCTATC+GTTACGCA,None,NaN,"[37, 37, 37, 32, 37, 37, 37, 37, 37, 37, 37, 3...",cccgtttgatttggggtcgcggtcgaagcgacgtgcgcttcgtttg...,NaN,1
47560,NaN,MN00399:123:000H537V2:1:23104:17571:20294,0.00000,False,1:N:0:AGCCTATC+GTTACACA,None,NaN,"[37, 37, 37, 37, 37, 37, 37, 37, 37, 37, 37, 3...",tgtgaattgcaggatcccgtgaaccatcgagtttttgaacgcaagt...,NaN,1
47561,NaN,MN00399:123:000H537V2:1:23104:22376:20341,0.00000,False,1:N:0:AGCCTATC+GTTACGCA,None,NaN,"[32, 37, 37, 37, 37, 37, 37, 37, 37, 37, 37, 3...",cgaagcgacgtgcgcttcgtttgttgggtcgttcaaaggtcataat...,NaN,1
47562,NaN,MN00399:123:000H537V2:1:23104:4771:20347,0.00000,False,1:N:0:AGCCTATC+GTTACGCA,None,NaN,"[37, 37, 37, 32, 37, 37, 14, 32, 37, 37, 37, 3...",cccgcctgatttggggtcgcggtcgaagcgacgtgcgcttcgtttg...,NaN,1
47563,NaN,MN00399:123:000H537V2:1:23104:23761:20382,0.00000,False,1:N:0:AGCCTATC+GTTACGCA,None,NaN,"[2, 37, 37, 37, 37, 37, 32, 32, 32, 37, 28, 37...",nccgtttgatttggggtcgcgttgaaagcgtcgacgaatcgacacg...,NaN,1

1