In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [2]:
dlc_coords_file = '/home/dennislab2/Desktop/GitHub/ejd_fieldwork_2021/data/20220622/DLC_medians2022-06-22T11_47_45.csv'
zaber_coords_file = '/home/dennislab2/Desktop/GitHub/ejd_fieldwork_2021/data/20220622/ZaberLocation_2022-06-22T11_47_43.csv'

In [5]:
dlc_coords=pd.read_csv(dlc_coords_file,header=None)
dlc_coords.head()

      0     1                                  2
0  1024  1024  2022-06-22T11:47:53.5158912-04:00
1  1024  1024  2022-06-22T11:47:53.7177984-04:00
2  1024  1024  2022-06-22T11:47:53.8747776-04:00
3  1024  1024  2022-06-22T11:47:54.0286976-04:00
4  1024  1024  2022-06-22T11:47:54.1876608-04:00

In [24]:
zaber_coords=pd.read_csv(zaber_coords_file,header=None)
zaber_coords.head()

        0       1                                  2
0  230756  289954  2022-06-22T11:47:53.5227776-04:00
1  230756  289954  2022-06-22T11:47:53.7244032-04:00
2  230756  289954  2022-06-22T11:47:53.8804608-04:00
3  230756  289954  2022-06-22T11:47:54.0339584-04:00
4  230756  289954  2022-06-22T11:47:54.1940992-04:00

In [25]:
zaber_coords.columns=['x','y','timestamp']
zaber_coords.head()

        x       y                          timestamp
0  230756  289954  2022-06-22T11:47:53.5227776-04:00
1  230756  289954  2022-06-22T11:47:53.7244032-04:00
2  230756  289954  2022-06-22T11:47:53.8804608-04:00
3  230756  289954  2022-06-22T11:47:54.0339584-04:00
4  230756  289954  2022-06-22T11:47:54.1940992-04:00

In [10]:
dlc_coords.columns=['x','y','timestamp']
dlc_coords.head()

      x     y                          timestamp
0  1024  1024  2022-06-22T11:47:53.5158912-04:00
1  1024  1024  2022-06-22T11:47:53.7177984-04:00
2  1024  1024  2022-06-22T11:47:53.8747776-04:00
3  1024  1024  2022-06-22T11:47:54.0286976-04:00
4  1024  1024  2022-06-22T11:47:54.1876608-04:00

In [11]:
test=dlc_coords.timestamp[0]
test

'2022-06-22T11:47:53.5158912-04:00'

In [18]:
date=test.split('T')[0]
time=test.split('T')[1].split('-')[0]

In [26]:
zaber_coords[['date','time']]=zaber_coords['timestamp'].str.split('T', expand=True)

In [29]:
zaber_coords['time'].str.split('-',expand=False)

0      [11:47:53.5227776, 04:00]
1      [11:47:53.7244032, 04:00]
2      [11:47:53.8804608, 04:00]
3      [11:47:54.0339584, 04:00]
4      [11:47:54.1940992, 04:00]
                 ...
615    [11:49:32.3159680, 04:00]
616    [11:49:32.4758656, 04:00]
617    [11:49:32.6365952, 04:00]
618    [11:49:32.7975552, 04:00]
619    [11:49:32.9584512, 04:00]
Name: time, Length: 620, dtype: object

In [30]:
zaber_coords.to_csv('')

Object `pd.to_csv` not found.